@use '@angular/material' as mat;

#searchInput {
  background-color: #417E85 !important;
  border: 1px solid #18363A;
  color: #E9F0ED;
}

#searchInput::placeholder {
  color: #E9F0ED;
}

#sortButton {
  border-radius: 8px;
  height: 56px;
  background-color: #18363A;
}

//material
mat-checkbox {
  @include mat.checkbox-overrides(( //
      label-text-color: #E9F0ED,
      selected-checkmark-color: #E9F0ED,
      selected-focus-icon-color: #18363A,
      selected-icon-color: #18363A,
      selected-pressed-icon-color: #18363A,
      selected-hover-icon-color: #18363A,
      label-text-weight: 500,
      unselected-icon-color: #E9F0ED,
      unselected-hover-icon-color: #E9F0ED //
    ));
}

mat-form-field {
  @include mat.form-field-overrides(( //
      filled-container-color: white, //inputok hattere
      filled-focus-active-indicator-color: #004D40, //also vonal
      filled-active-indicator-color: #004D40,
      filled-focus-label-text-color: #004D40,
      filled-hover-active-indicator-color: #004D40,
      filled-hover-label-text-color: #004D40,
      filled-input-text-color: #004D40,
      filled-input-text-placeholder-color: #004D40,
      filled-label-text-color: #004D40,
    ));
}

mat-select {
  @include mat.select-overrides(( //
      panel-background-color: white,
      placeholder-text-color: #004D40 //
    ));
}

//reszponzivitas
@media screen and (max-width: 992px) {
  mat-form-field, #otherFilter {
    width: 60% !important;
  }
}
