li {
  cursor: pointer;
}

input {
  width: 500px !important;
}

#searchInput {
  background-color: #417E85 !important;
  border: 1px solid #18363A;
  color: #E9F0ED;
}

#searchInput::placeholder {
  color: #E9F0ED;
}
