<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="input-group mb-3" style="width: 500px;">
        <input placeholder="Adja meg a keresett termék nevét!" type="text" class="form-control" aria-label="Text input with dropdown button">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Szűrés</button>
        <ul class="dropdown-menu dropdown-menu-end">
          <li class="dropdown-item">ABC szerint (Növekvő)</li>
          <li class="dropdown-item">ABC szerint (Csökkenő)</li>
          <li class="dropdown-item">Netto ár szerint (Növekvő)</li>
          <li class="dropdown-item">Netto ár szerint (Csökkenő)</li>
          <li class="dropdown-item">Bruttó ár szerint (Növekvő)</li>
          <li class="dropdown-item">Bruttó ár szerint (Csökkenő)</li>
        </ul>
      </div>
    </div>
  </div>
</div>
