<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 d-flex justify-content-center align-items-start">
      <mat-form-field class="m-0" style="width: 500px;">
        <mat-label>Keresett termék</mat-label>
        <input #searchInput matInput (input)="searchByName.emit(searchInput.value.trim().toLowerCase())" type="text" placeholder="Adja meg a keresett termék nevét!">
      </mat-form-field>

      <mat-form-field class="mx-2" style="width: 150px;">
        <mat-label>Szűrés</mat-label>
        <mat-select (valueChange)="onChangeFilter()" [(value)]="selectedFilter" (valueChange)="onChangeFilter()">
          <mat-option value="name">Név szerint</mat-option>
          <mat-option value="netPrice">Nettó ár szerint</mat-option>
          <mat-option value="grossPrice">Brutto ár szerint</mat-option>
        </mat-select>
      </mat-form-field>

      <button id="sortButton" matButton="filled" (click)="changeSort.emit()" class="d-flex justify-content-center align-items-center">
        <span class="material-symbols-outlined h-100">swap_vert</span>
      </button>

      <div style="height: 56px;" class="d-flex justify-content-center align-items-center">
        <mat-checkbox (change)="changeValidState()" class="example-margin">Érvényes</mat-checkbox>
      </div>
    </div>
  </div>
</div>
