@use '@angular/material' as mat;

li {
  list-style: none;
  line-height: 25px;

  .fw-bold {
    font-weight: 600 !important;
  }
}

.inCorrect {
  @include mat.expansion-overrides((
    container-background-color: red,
  ));
}
