@use '@angular/material' as mat;

li {
  list-style: none;
  line-height: 25px;

  .fw-bold {
    font-weight: 600 !important;
  }
}

.cardCol {
  @include mat.expansion-overrides(( //
      container-background-color: #18363A,
      container-text-color: #E9F0ED,
      header-indicator-color: #E9F0ED) //
  );
}

.inCorrect {
  @include mat.expansion-overrides(( //
      container-background-color: rgb(189, 38, 38) //
    ));
}
