<div class="container-fluid my-4 w-50">
  <div class="row">
    <div class="col-lg-12">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <div class="w-100 d-flex justify-content-between align-items-center">
                {{product().getHunProductName}}
                <span class="mx-3"><span class="fw-bold">Ára:</span> {{product().getNetPriceHuf | currency : "" : ""}} {{product().getCurrency}}</span>
              </div>
            </mat-expansion-panel-header>

            <ng-template matExpansionPanelContent>
              <div class="container-fluid">
                <div class="row">
                  <div class="col-lg-12">
                    <h6>Termék adatai:</h6>
                    <ul>
                      <li><span class="fw-bold">Termék angol neve:</span> {{product().getEnglishProductName}}</li>
                      <li><span class="fw-bold">Bruttó ár:</span> {{product().getGrossPriceHuf | currency : "" : ""}} {{product().getCurrency}}</li>
                      <li><span class="fw-bold">Nettó ár:</span> {{product().getNetPriceHuf | currency : "" : ""}} {{product().getCurrency}}</li>
                      <li><span class="fw-bold">vatRate:</span> {{product().getVatRate}}</li>
                      <li><span class="fw-bold">Elérhető mennyiség:</span> {{product().getQuantityAvailable}}</li>
                      <li><span class="fw-bold">Raktáron lévő mennyiség:</span> {{product().getStockQuantity}}</li>
                      <li><span class="fw-bold">Márka:</span> {{product().getBrand}}</li>
                    </ul>
                  </div>
                </div>
              </div>
            </ng-template>

          </mat-expansion-panel>
        </mat-accordion>
    </div>
  </div>
</div>
