.errorMsg {
  font-size: clamp(1.875rem, 1.1535rem + 2.6846vw, 4.375rem);
  line-height: clamp(1.875rem, 1.1535rem + 2.6846vw, 4.375rem);
}

@media screen and (max-width: 992px) {
  app-product-card {
    width: 80% !important;
  }
}
