<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="text-center my-3 mainFont">Termék kereső</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <app-search-bar (searchByName)="searchByName($event)" (changeValid)="getProducts()" (changeSort)="changeSort()" (changeFilter)="changeFilter($event)" />
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      @if(!isLoaded() && !isError()){
        <mat-spinner />
      }

      @if (isError()){
        <p>Valami hiba lépett fel! Kérlek próbáld meg később</p>
      }

      @if (isLoaded()){
        @for (product of productService.productList; track $index) {
          <app-product-card [product]="product"/>
        } @empty {
          <p>Nincsenek ilyen termékek! Probáld meg máshogy</p>
        }
      }
    </div>
  </div>
</div>
