h1 {
    font-size: clamp(1.875rem, 1.1535rem + 2.6846vw, 4.375rem);
}

button {
  border-radius: 8px;
  height: 70px;
  width: 400px;
  background-color: #18363A !important;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  font-size: 30px;
}
