h1 {
    font-size: 75px;
}

button {
  border-radius: 8px;
  height: 70px !important;
  width: 400px;
  background-color: #18363A !important;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  font-size: 30px;
}
