@use '@angular/material' as mat;
@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@0,400..840;1,400..840&family=Fjalla+One&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

html {
  @include mat.theme((color: (primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    ));
}

body {
  color-scheme: light;
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

//
body {
  background-color: #2C595E;
  color: #E9F0ED;
}

.mainFont {
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.secondFont {
  font-family: "Andada Pro", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.numberFont {
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
